##导入宏定义
$!{define.vm}
$!{mybatisCodehelper.vm}

##设置表后缀（宏定义）
#set($controllerName = $tool.append($tableInfo.name, "Controller"))
##设置回调
#set($controllerSavePath = $tool.append(${controllerSrcFolder},"/",${controllerPackageName.replace(".","/")}))

$!callback.setSavePath($controllerSavePath)
$!callback.setFileName($tool.append($controllerName, ".java"))

##定义服务名
#set($serviceName = $!tool.append($!tool.firstLowerCase($!tableInfo.name), "Service"))

##定义实体对象名
#set($entityName = $!tool.firstLowerCase($!tableInfo.name))

package ${controllerPackageName};
import $!{modelPackageName}.$!{tableInfo.name};
import ${servicePackageName}.I$!{tableInfo.name}Service;
import io.swagger.annotations.Api;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;


##表注释（宏定义）
#tableComment("表控制层")
@Api(tags = "$!{tableInfo.comment}" )
@RestController
@RequestMapping("$!tool.firstLowerCase($!tableInfo.name)" )
public class $!{controllerName} {
/**
 * 服务对象
 */
@Autowired
private I$!{tableInfo.name}Service $!{serviceName};

        }
